<% content_for :title, "My checklists" %>

<div id="checklists">
  <% @checklists.each do |checklist| %>
    <%= render "checklists/private", checklist: checklist if checklist.published_at.blank? %>
    <%= render "checklists/public", checklist: checklist if checklist.published_at.present? %>
  <% end %>

  <p style="margin-top: 1.7em;">
    <%= link_to "Add checklist", new_checklist_path %>
  </p>
</div>
