<% content_for :title, @checklist.title %>

<div id="checklists">
  <% if @checklist.items.present? %>
    <ul>
      <% @checklist.items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No items found in this checklist.</p>
  <% end %>

  <% if authenticated? %>
    <p>
      <%= render partial: "actions", locals: { checklist: @checklist } %>
    </p>
  <% end %>
</div>

<br/>

<small>
  This checklist was created by a registered user.
  You can <b><%= link_to "sign up", new_user_url, rel: "nofollow" %></b> and manage/publish your own checklists. It's free!

  If you find this checklist inappropriate, please
  <%= link_to "report it", report_checklist_url(@checklist.slug), rel: "nofollow", data: { turbo_method: :post, turbo_confirm: "Are you sure?" } %>.
</small>
