/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #ffb300;
  --accent-hover: #ffe099;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

a:not(.button) {
  text-decoration: none;

  &:hover {
    color: var(--accent-hover);
  }
}

h1 a {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p.notice {
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--accent-bg);
  background-color: var(--text-light);
}

p.notice a {
  color: #5d5d5d;

  &:hover {
    color: #727272;
  }
}

p:not(.notice):last-of-type {
  margin-bottom: 0.3rem;
}

fieldset {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#users-page > form > fieldset:nth-child(4) > p:nth-child(4) {
  margin-top: 2rem;
}

main#checklists-page input:not([type="submit"]) {
  width: 100%;
}

main#checklists-page textarea {
  line-height: 2rem;
}

body > footer {
  margin: 4.3rem 0 2.3rem 0;
}

body > footer h3 {
  margin-top: 2.3rem;
}

body > footer img {
  width: 8rem;
  height: 10rem;
}
