/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

h1 a:link {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

body > main p:last-of-type(:not(.notice)) {
  margin-bottom: 0.3rem;
}

body > footer {
  margin-top: 5rem;
  margin-bottom: 1.5rem;

  h3 {
    margin-top: 2.7rem;
  }

  p a img {
    width: 10rem;
    height: 13.33rem;
  }
}

p.notice {
  padding: 0.7rem 1rem 0.7rem 1rem;
  margin-bottom: 1rem;
}
